@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scroll Bar Style */
::-webkit-scrollbar {
  background: black;
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border: solid 0 rgb(0 0 0 / 0%);

  border-radius: 2px;
  background-color: rgb(34, 197, 94, 0.7);
}

::-webkit-scrollbar-track-piece {
  margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-radius: 2px 9px;
  -webkit-border-radius: 2px 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.small-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.games-viewer {
  display: grid;
  gap: 1.25rem; /* equivalent to gap-5 */
  width: 100%;
  height: fit-content;
  grid-template-columns: 1fr;
  grid-template-areas:
    "stats"
    "info"
    "time"
    "accuracy";
}

.game-stats {
  grid-area: stats;
}
.game-info {
  grid-area: info;
}
.time-graph {
  grid-area: time;
}
.accuracy-graph {
  grid-area: accuracy;
}

@media (min-width: 768px) {
  .games-viewer {
    min-height: 90vh;
  }
}

@media (min-width: 1280px) {
  .games-viewer {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "stats time"
      "info accuracy";
  }
}
