@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scroll Bar Style */
::-webkit-scrollbar {
  background: black;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border: solid 0 rgb(0 0 0 / 0%);

  border-radius: 2px;
  background-color: rgb(34, 197, 94, 0.7);
}

::-webkit-scrollbar-track-piece {
  margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-radius: 2px 9px;
  -webkit-border-radius: 2px 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
